@font-face {
    font-family: "Programme Regular"; 
    src: url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.eot"); 
    src: url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.ttf") 
    format("truetype"), 
    url("//db.onlinewebfonts.com/t/615ebd2bd72c443cdfe3991532f0df4f.svg#Programme Regular") format("svg"); 
}

@font-face {font-family: "Whitney"; 
    src: url("//db.onlinewebfonts.com/t/294afa63edf49dc293dd90373066b4d4.eot"); 
    src: url("//db.onlinewebfonts.com/t/294afa63edf49dc293dd90373066b4d4.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/294afa63edf49dc293dd90373066b4d4.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/294afa63edf49dc293dd90373066b4d4.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/294afa63edf49dc293dd90373066b4d4.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/294afa63edf49dc293dd90373066b4d4.svg#Whitney") format("svg"); 
}

body{
    font-family:'Programme Regular', Arial, sans-serif;
    font-size: 1.25em;
    
}
.header{
    background-color: yellow;
}
.supercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lyric-container{
    max-width: 32em;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.superheading{
    text-transform: uppercase;
    font-size: 0.85em;
    color: grey;
    font-weight: 400;
    margin: 3em 0;
}

.section{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.line{
    margin: 0.25em 0;
    width: auto;
}

.to-highlight{
    width: -moz-fit-content;
    width: fit-content;
    background-color:#e9e9e9;
}
.to-highlight:hover{
    background-color: yellow;
}


/* Explanation block */
.lyric-explanation{
    max-width: 32em;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.read-more{
    color: #7d8fe8;
}
.no-underline{
    text-decoration:none;
}

.metadata{

}

.contributors{
    margin-top: 3em;
}

.explanatory-question a{
    color: black;
}

.explanatory-question{
    font-size: 1em;
    font-weight: 600;
}
.twitter-container{
    display:flex;
    justify-content: space-evenly;
}
.twitter-response-container{
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
}

.twitter-redirect{
    display:inline-block;
    background-color: #e9e9e9;
}
.via-twitter{
    display: inline-block;
}

.twitter-reply{
    max-width: 25em;
}
.twitter-avatar-container{
    display: inline-block;
    margin: 1em 0;
}
.twitter-avatar-border{
    width: 64px;
    height: 64px;
    background: green;
    clip-path: circle(45%);
}
.twitter-avatar{
    width: 64px;
    height: 64px;
    background-image: url("twitter-avatar.png");
    background-size: cover;
    clip-path: circle(40%);
}